<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

  <appSettings>
    <add key="ThirdParty" value="D:\Projects\SurveysAndStats\VPS.Client.TeaParty.Survey.Win.UI\ThirdParty.txt"/>
    <add key="SurveyGroup" value="D:\Projects\SurveysAndStats\VPS.Client.TeaParty.Survey.Win.UI\SurveyGroup.txt"/>
  </appSettings>
</configuration>
